<div class="bug-widget {{horizontal}} {{vertical}}">
    <div {{action 'toggle'}} class="bug-toggle">
        {{fa-icon bugIcon class='bug-icon'}}
        {{fa-icon arrowIcon class='bug-arrow'}}
    </div>
    <div class="bug-main {{hiddenClass}}">
        {{#if hasBlock}}
            {{yield}}
        {{else}}
            <a href="{{url}}" target="_blank">{{text}}</a>
        {{/if}}
    </div>
</div>
