<div class="bug-widget {{horizontal}} {{vertical}}">
	<div {{action 'toggle'}} class="bug-toggle">
		<i class="{{bugIcon}} bug-icon"></i>
		<i class="fa fa-angle-double-{{arrowDirection}} bug-arrow"></i>
	</div>
	<div class="bug-main {{hiddenClass}}">
		<a href="{{url}}" target="_blank">Report A Bug</a>
	</div>
</div>
