<h2 id="title">Welcome to Ember Bug Widget</h2>

<p>This demo uses EBW {{app-version}}</p>

<p>This demo page uses the widget in 4 different configurations:</p>
<ul>
    <li>Bottom Right (Default)</li>
    <li>Bottom Left (With custom text)</li>
    <li>Top Left (With custom yield)</li>
    <li>Top Right (With custom url)</li>
</ul>

{{outlet}}

{{bug-widget url='https://github.com/elwayman02/ember-bug-widget/issues/new'}}

{{bug-widget
    url='https://github.com/elwayman02/ember-bug-widget/issues/new'
    text='Bottom Left'
    horizontal='left'}}

{{#bug-widget
    horizontal='left'
    vertical='top'}}
  I am a custom bug widget: <a href="http://jhawk.co" target="_blank">Click me!</a>
{{/bug-widget}}

{{bug-widget
    url='https://github.com/elwayman02/ember-bug-widget/issues/new'
    text='Top Right'
    vertical='top'}}
